*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
  background-image: url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?cs=srgb&dl=pexels-pixabay-209831.jpg&fm=jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff !important;
  max-height: 100vh !important;
}

.search_left{
  opacity: .8;
  background: #4d00ff12;
  color: #fff;
}
.city_Section{
  background-image: url('https://weather-355fb.web.app/assets/images/Clouds.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.head {
  height: 300px !important;
  color: #f0f8ff;
  opacity: .8 !important;
}

  .heading{
    color:blue;
    font-weight: 700;
    text-align: center;
  }
  .wetherResultBox2{
    margin: auto;
    width: 700px;
    height:90vh;
  }

  .weathorIcon{
    margin-top: 2rem;
    width: 100px;
    height: 100px;
  }
  .weathorCity{
    font-size: 35px;
  }
  .weathorTemp{
    font-size:18px;
    font-weight: 700;
  }
  .weatherText{
    font-size:40px;
    font-weight: bold;
    color: aqua;
    /* text-transform:uppercase; */
  }
  